name: Build and Push Matomo Image

on:
  # Permite ejecutarlo manualmente desde la pestaña Actions
  workflow_dispatch:
  
  push:
    branches: [ "main" ]
    # Comentamos los paths temporalmente para asegurar que salte
    # paths:
    #   - 'docker/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          push: true
          # IMPORTANTE: Asegúrate de que esto coincide con tu usuario real
          # Si tu usuario es 'amancito', la imagen debe ser 'amancito/matomo-custom:latest'
          tags: amancito/matomo-custom:latest