name: Build and Push Matomo Image

on:
  push:
    branches: [ "main" ]
    paths:
      - 'docker/**' # Solo ejecuta si cambia el dockerfile

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: amancito
          password: dckr_pat_qb8LF0JCXqbEZ94k8Q7mDTooYu0

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          push: true
          # Reemplaza 'tu_usuario' con tu usuario real o usa variables
          tags: amancito/matomo-custom:latest